#wrap {
  width: 100%;
  position: relative;
}

/* ==== mobile. menu ==== */
#mobileMenuWrap {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.mobileMenuBg {
  width: 100vw;
  height: 100vh;
  background: #00000080;
}
.mobileMenu {
  width: 70%;
  height: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  top: 0;
}


.mobileCloseBtn a{
  display: block;
  width: 25px;
  height: 20px;
  position:absolute;
  right:10px; 
  top:45px;
}

.mobileCloseBtn a span{
  display: block;
  width: 20px;
  height: 2px;
  background:#000;
  text-indent: -99999px;
  position:absolute;
  top:10px; right:0px;   
  transform: translateY(-50%);
  transition:all ease 0.3s;

}

.mobileCloseBtn a span::before{
  content: '';
  width: 20px;
  height: 2px;
  background:#000;
  position:absolute;
  right:0px; top:-8px;
  transition:all ease 0.3s;
}

.mobileCloseBtn a span::after{
  content: '';
  width: 20px;
  height: 2px;
  background:#000;
  position:absolute;
  right:0px; top:8px;
  transition:all ease 0.3s;
}

.mobileCloseBtn button{
  position:absolute;
  right:0px; top:0px;
  z-index: 10;
  display: none;
}
.line.on span{
  background:rgba(0, 0, 0, 0)
}

.line.on span::before{
  top:0;
  transform: rotate(45deg);
}

.line.on span::after{
  top:0;
  transform: rotate(-45deg);
}

/* ==== header ==== */

header {
  width: 100%;
  height: 100px;
  border-top: 3px solid #009329;
}
header .header_inner {
  position: relative;
}
header .header_inner .logo {
  width: 100%;
  height: 100px;
}
header .header_inner .logo h1 {
  text-align: center;
  line-height: 100px;
  font-size: 8vw;
  font-family: "HANAMDAUM";
  color: #009329;
}

/* ===== gnb button ==== */

.header_nav {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  /* z-index: 1000; */
}

.header_nav .navButton {
  width: 20px;
  height: 3px;
  background: #000;
  position: relative;
  top: 50%;
}
.header_nav .navButton:before {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 7px;
  left: 0;
}
.header_nav .navButton:after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  position: absolute;
  bottom: 7px;
  left: 0;
}

/* ==== gnb ==== */
/* ==== banner ==== */

#contents {
  width: 100%;
  height: auto;
}
#contents .main {
  width: 100%;
  height: 100%;
}
#contents .main div img {
  width: 100%;
}

/* ==== menu ==== */
#menuWrap {
  width: 100%;
  padding: 20px 0;
}
.menu_box {
  position: relative;
}
.menu_box h2 {
  text-indent: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: "HANAMDAUM";
}
.menu_box button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  color: rgb(51, 51, 51);
}

.menu_box ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.menu_box ul li a img {
  max-width: 100%;
  height: auto;
}

/* ===== news ==== */

#newsWrap {
  width: 100%;
  background: #00000033;
}

#newsWrap .news {
  width: 100%;
  height: auto;
  background: url("../images/bg_content.gif");
  box-sizing: border-box;
  padding: 20px;
}
#newsWrap .news div {
  height: 200px;
  background: #fff;
  margin-bottom: 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
}

/* ===== sns ===== */

#sns {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: space-around;
}

/* ===== footer ===== */

footer {
  width: 100%;
  height: 100px;
  background: rgb(32, 32, 32);
}
