.header_box:after{content: ""; display: block; clear: both}
.header_box{border: 0px solid black}
/*로그인,회원가입*/
ul.util{float: right; border: 0px solid black}
ul.util:after{content: ""; display: block; clear: both}
ul.util li{float: left; margin-left: 10px; ; position: relative; bottom: 15px; right: 15px}
ul.util li a{display: block}
/*메인메뉴*/
nav>ul{
    border: 0px solid black;
    }
nav>ul:after{content: ""; display: block; clear: both}
nav>ul>li{float: left; position: relative; left: 137px}
nav>ul>li>a{
    display: block; font-weight: bold; font-size: 20px;
    box-sizing: border-box; padding: 10px; text-align: center;
    width: 200px; border: 0px solid black
    }
/*서브메뉴*/
ul.sub1{
    display: block; position: absolute; height: 0px; overflow: hidden;
    background-color: white; transition: all 0.7s;
    border: 0px solid black;
    }
ul.sub1 li{}
ul.sub1 li a{
    display: block; box-sizing: border-box;padding: 10px;
    text-align: center; width: 200px; border: 0px solid black
    }
/*메인화면이미지*/
.main a{position: absolute; font-size: 50px; color: lightgray}
.main a.prev{left: 0; top: 370px}
.main a.next{right: 25px; top: 370px}
/*인기상품이미지*/
div.popular{margin-top: 10px}
div.popular h2{margin-left: 75px; margin-bottom: 10px}
div.popular ul:after{content: ""; display: block; clear: both}
div.popular ul li{
    float: left; border: 0px solid black; position: relative;
    left: 73px; margin-left: 15px; border: 0px solid black
    }
div.popular ul li{width: 260px; height: 200px}
div.popular ul li a:hover{opacity: 1}
div.popular ul li a img{width: 100%; height: 100%}
div.popular ul li a img:hover{width: 120%; height: 120%}
/*신규상품이미지*/
div.newmenu{margin-top: 10px}
div.newmenu h2{margin-left: 75px; margin-bottom: 10px}
div.newmenu ul:after{content: ""; display: block; clear: both}
div.newmenu ul li{
    float: left; border: 0px solid black; position: relative;
    left: 73px; margin-left: 15px; border: 0px solid black
    }
div.newmenu ul li{width: 260px; height: 200px}
div.newmenu ul li a:hover{opacity: 1}
div.newmenu ul li a img{width: 100%; height: 100%}
div.newmenu ul li a img:hover{width: 120%; height: 120%}
/*케이크상품이미지*/
div.cake{margin-top: 10px}
div.cake h2{margin-left: 75px; margin-bottom: 10px}
div.cake ul:after{content: ""; display: block; clear: both}
div.cake ul li{
    float: left; border: 0px solid black; position: relative;
    left: 73px; margin-left: 15px; border: 0px solid black
    }
div.cake ul li{width: 260px; height: 200px}
div.cake ul li a:hover{opacity: 1}
div.cake ul li a img{width: 100%; height: 100%}
div.cake ul li a img:hover{width: 120%; height: 120%}

