@media (min-width:600px) and (max-width:767px){
    body {background-color: yellow}
    
    header#header, section.main, section.menu, section.news, section.event, footer#footer{
        width: 100%; margin: 0 auto; border: 00px solid red;
    }
    
    header#header{height: 110px; border: 40px solid white}
    section.main{}
    section.menu{}
    section.news{}
    section.event{height: 150px}
    footer#footer{height: 200px}

    div.popular img.img, div.newmenu img.img, div.cake img.img{width: 260px; height: 200px;}
}
