#my_hand {
    border: 5px solid red;
    width: 850px;
    height: 250px;
}
#my_hand div{
    float:left;
}

#btnDeal {
  border: 2px solid #000;
}

#imgResult {
  position:absolute;
  width: 500px;
  height: 250px;
  left:200px;
  top:100px;
  display: none;
}

.red{color:red;}
.blue{ color:blue;}