/* ====header==== */
#header {
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #fff;
  z-index: 1;
}
#header .logo h1 {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  opacity: 0.8;
  font-size: 40px;
  font-weight: bold;
}

#header .gnb_wrap {
  padding: 0 20px;
}

#header .gnb_wrap .login {
  color: #fff;
  opacity: 0.8;
  font-size: 15px;
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#header .gnb_wrap .login i {
  font-size: 30px;
  margin-right: 10px;
}

#header .gnb_wrap .memberShip {
  margin-top: 20px;
}
#header .gnb_wrap .memberShip p {
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  letter-spacing: -1px;
}
#header .gnb_wrap .memberShip div {
  height: 40px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  background: linear-gradient(104deg, #ff0c28 9%, #d901df 51%, #7200ff 98%);
  text-align: center;
  line-height: 40px;
  color: #fff;
}
#header .gnb_wrap .memberShip div::before {
  content: "멤버십 구독";
  font-family: "BRBA_B";
  font-size: 16px;
}

#header .gnb_wrap .nav_search {
  position: relative;
  margin: 20px 0;
}
#header .gnb_wrap .nav_search input {
  width: 100%;
  background: rgb(70, 70, 70);
  border: none;
  height: 40px;
  text-indent: 40px;
  outline: none;
  border-radius: 10px;
}
#header .gnb_wrap .nav_search::after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0.6;
}

/* ==== nav  */
#header .nav .gnb {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
#header .nav .gnb li {
  margin: 25px 0;
}
#header .nav .gnb li a {
  display: block;
  text-indent: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

#header .nav .gnb li:hover a {
  opacity: 1;
}
/* ==== sub */
#header .nav .sub {
  border-bottom: 1px solid #ccc;
}
#header .nav .sub li {
  margin: 25px 0;
}
#header .nav .sub li a {
  display: block;
  text-indent: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}
#header .nav .sub li:hover a {
  opacity: 1;
}

/* ====install */

.install {
    padding:20px 20px 40px 20px;
}
.install .pcInt {
  color: #fff;
  opacity: 0.8;
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.install .mobileInt {
  color: #fff;
  opacity: 0.8;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  cursor: pointer;
}


/* ====content==== */




/* ====playBar==== */

#playBar{
    position:fixed;
    left:0;
    bottom:0;
    background:#fff;
    width: 100%;
    height: 100px;
}